# Visual Studio 6 build log
*.plg

# Visual C++ cache files
*.ncb

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/
*/.idea/workspace.xml
*/.idea/tasks.xml
*/.idea/dictionaries/

# Output folders
Debug/
cmake-build-debug/

# Other files
commands.txt
foo.py
ShortCutList.txt